a:link {
    color: blue;
}

/* visited link */

a:visited {
    color: green;
}

/* mouse over link */

a:hover {
    color: hotpink;
}

/* selected link */

a:active {
    color: purple;
}

.container-grid {
    width: 100%;
    margin: 0 0 0 0; /* top right bottom left */
    padding: 0;
}

header {
	margin-bottom: -4em;
}

.resume-name {
    margin: 0;
    width: 100%;
    height: 200px;
    border-bottom: #c00 solid 3px;
	background-image: url(green-background.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

article {
	margin: 0;
	padding: 5%;
	width: 80%;
	height: auto;
}

section {
    margin-bottom: 2.5%;
}


h1 {
    font-family: 'Monoton', cursive;
    font-size: 3em;
    float: left;
    line-height: 1.5em;
	color: #E9EBF7;
	text-shadow: .25em .25em #4EC96E;
	margin-left: 3.5%;
}

address {
    font-family: 'IBM Plex Mono',
    monospace;
    font-size: 1em;
    float: right;
    text-align: right;
    vertical-align: -webkit-baseline-middle;
    margin: auto;
    padding: 70px 0px;
}

h2 {
    font-family: 'Syncopate',
    sans-serif;
    font-size: 2em;
    text-align: left;
	margin-top: 1.25em;
	margin-bottom: .5em;
	
}

h3 {
    font-family: 'Roboto',
    sans-serif;
	margin-top: .75em;
}

h4 {
	font-family: 'Monofett';
	font-size: 2em;
}

span {
    float: right;
	font-size: 80%;
}

strong {
    font-weight: 900;
}

ul {
	margin: 0 auto 2em
	}

#exception-ul { 
	margin-bottom: 0;
}
li {
    margin-bottom: .5em;
	width: 70%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.skills {
	grid-column: 1 / 2;
}

.publications {
	grid-column: 2 / 3;
}
.samples {
	grid-column: 1 / 3;
}	

.bigger-font {
	font-size: 2em;
}

.double {
 -webkit-column-count: 2;
 -moz-column-count: 2;
 -o-column-count: 2;
  column-count: 2; 
}

.center {
	text-align: center;
	text-indent: -8px;
}

.r-corners {
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
	margin: 10px;
	text-align: center;
}

.r-corners ul {
	list-style-type: none;
	text-align: center;
}

h5 {

	font-family: 'Bungee Outline', cursive;
	color: white;
	font-size: 2em;
	margin-top: -1em;
	margin-bottom: -.5em;
	margin-left: 30px;
	float: left;
	
}

nav ul {
	padding: 0;
	position: relative;
	width: 100%;
	margin: 10px 10px 5px;
}

nav {
	margin:0;
	padding:0;
	background: #262626;
}
	
nav ul li 
{
	list-style: none;
	float: left;
	padding: 10px 20px;
	color: #fff;
	border: 1px solid #fff;
	margin-right: 15px;
	font-family: arial;
	text-transform: uppercase;
}

nav ul li:hover,
.active
{
	background: #fff;
	color: #262626;
}

.container
{
	position: relative;
	padding: 30px;
	box-sizing: border-box;
}



